# Ignore bash history files
.bash_history
# Ignore bash configuration files
.bash_logout
.bash_profile
.bashrc
# Ignore SSH directory
.ssh/
# Ignore hosts file
hosts
# Ignore .gitconfig
.gitconfig
# Ignore pingtest.yaml
pingtest.yaml
# ignore .config folder 
.config/

# ignore myagent folder
myagent/